.result-item {
    height: 120px;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0 #ddd;
}

.result-item-upper {
    display: flex;
    height: 40%;
    width: 100%;
}

.result-item-lower {
    height: 60%;
    width: 100%;
    background-color: #eee;
    border-radius: 0 0 20px 20px;
}

.result-item-info {
    height: 100%;
    width: 80%;
}

.result-item-name {
    height: 50%;
    width: 100%;
    background-color: #aaf;
    border-radius: 20px 0 0 0;
    text-indent: 1em;
    line-height: 24px;
}

.result-item-line {
    height: 50%;
    width: 100%;
    background-color: #ccf;
    text-indent: 1em;
    line-height: 24px;
}

.result-item-distance {
    height: 100%;
    width: 20%;
    background-color: #bfb;
    border-radius: 0 20px 0 0;
    text-align: center;
    line-height: 48px;
}