.result-item {
    height: 100px;
    width: 80%;
    margin: 10px auto;
}

.result-item-upper {
    display: flex;
    height: 40%;
    width: 100%;
}

.result-item-lower {
    height: 60%;
    width: 100%;
    background-color: #ddd;
    border-radius: 0 0 20px 20px;
}

.result-item-info {
    height: 100%;
    width: 80%;
}

.result-item-name {
    height: 50%;
    width: 100%;
    background-color: #ccc;
    border-radius: 20px 0 0 0;
}

.result-item-line {
    height: 50%;
    width: 100%;
    background-color: #bbb;
}

.result-item-distance {
    height: 100%;
    width: 20%;
    background-color: #ccc;
    border-radius: 0 20px 0 0;
}